.head {
    background-color: #0E7BD8;
    color: white;
    text-align: left;
}
.to-doSign {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    margin-left: 3.5%;
    line-height: 48px;
}