<div class="taskPanel" id="taskPanel"  [ngClass]="task.info? 'showTaskPanel':'taskPanel'">
<div class="round">
    <p><input type="checkbox" [checked]="(task.isFinished)" (change)="checkStatus(task)" id="checkbox"/>
    <label for="checkbox"></label>
    <input type="text" class="subTaskTitle" [ngClass]="task.isFinished? 'check':'subTaskTitle'" value="{{task.name}}" (keyup)="changeTaskName($event)"/><br>
</div>
<div id="subTask">
    <div *ngFor="let subTask of task.subTasks">
        <div class="task-subParent" [ngClass]="subTask.isFinished? 'checkstyle':'task-subParent'">
            <input type="checkbox" class="subtask-checkbox" (change)="checkSubTaskStatus(subTask)" id="check" [checked]="(subTask.isFinished)"/>
            <label for="check"></label>
            <input type="button" class="existingTask" value="{{subTask.name}}"/>
        </div> 
    </div>
</div>
<div  class="taskContent">
    <div><button class="sidebar-Icon addtask-button"><i class="icon plusIcon" aria-hidden="true"></i></button></div>
    <div><input type="text" class="inputSubTask" id="inputSubTask" placeholder="Add sub Task" (keyup)="addTask($event)"/></div>
</div>
<div class = "sidecontent addToDay" >
    <a href="#"><i class = "icon sunIcon"></i> &nbsp;Add To My Day</a>
</div>                      
<div class ="remindMe">
    <div class = "sidecontent">
        <a href="#"><i class = "icon alarmIcon"></i>&nbsp;Remaind me</a>
    </div>
    <div class = "sidecontent">
        <a href="#"><i class = "icon calendarIcon"></i>&nbsp;Add due date</a>
    </div>
    <div class = "sidecontent">
        <a href="#"><i class = "icon repeatIcon"></i>&nbsp;Repeat</a>
    </div>
</div>             
<div class = "sidecontent addFile">
    <a href="#"><i class = "icon addFileIcon"></i>&nbsp;Add file</a>
</div>              
<div class = "sidecontent addNotes">
    <input  id = "taskinput" class="addsubnotes" type="text" placeholder= "Add Notes"/> 
</div>
<div class = "sidecontent exitNote" (click)="closeSubTaskPanel(task)">
</div>
</div>