@font-face {
    font-family:segoe;
    src:url("../../assets/font/seguisb.ttf");
}
@font-face {
    font-family:segoe-regular;
    src:url("../../assets/font/segoe-regular.ttf");
}
@font-face {
    font-family:segoe-Bold;
    src:url("../../assets/font/segoe-ui-bold.ttf");
}
.round {
    position: relative;
}
.subTaskTitle, .check{
    margin: 0rem 2rem;
    color: #3e69e4;
    border: none;
    width: 10rem;
    font-size: 1rem;
    padding: 0.3rem 0rem;
}
.inputTask:focus, .subTaskTitle:focus, .inputSubTask:focus {
    outline: none;
    background-color: #f4f4f4;
 }
 .inputSubTask:focus {
    background-color: #ffffff; 
 }
.taskContent {
    display:flex;
    align-content:center;
}
.sidebar-Icon {
    padding: 0.2rem 0.8rem 1rem 0.9rem;
}
.addtask-button {
    background-color:#ffffff;
    border:none;
    margin: 1.1rem 0rem 1.2rem 0rem;
}
.icon {
    width: 1.1rem;
    height: 1.1rem;
}
.plusIcon{
    content:url("../../assets/icons/plus.png");
    padding: 0.4rem 1.2rem 0.2rem 0.9rem;
}
.inputSubTask {
    width: 76%;
    border:none;
    color: #424141;   
    margin: 1.1rem 0rem 0rem 0rem;
    padding: 1rem 3rem 1rem 0rem; 
}

.sidecontent {
    margin-top:10%;
 }
 
.addToDay {
    margin: 1rem 2rem 1rem 3rem;
    padding: 1rem 1rem 1rem 1rem;
    background: #ffffff;
    width: 70%;
    border: 1px solid #eaeaea;
 }
 .sunIcon{
    content:url("../../assets/icons/sun.png");
    filter: invert(54%) sepia(3%) saturate(1543%) hue-rotate(245deg) brightness(80%) contrast(81%);
}
.alarmIcon {
    content:url("../../assets/icons/alarm.png");
 }
.calendarIcon{
    content:url("../../assets/icons/calender.png");
    filter: invert(54%) sepia(3%) saturate(1543%) hue-rotate(245deg) brightness(80%) contrast(81%);
}
.repeatIcon {
    content:url("../../assets/icons/repeat.png");
}
.addFile {
    margin: 1rem 2rem 1rem 3rem;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    background: #ffffff;
    width: 71%;
    border: 1px solid #eaeaea;
 
}
.addFileIcon {
    content:url("../../assets/icons/fileattach.png");
} 
.addNotes {
    margin: 1rem 2rem 1rem 3rem;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    background: #ffffff;
    width: 71%;
    border: 1px solid #eaeaea;
 
}
.addsubnotes{
    padding: 1rem 6rem 1rem 1rem;
    font-size: 1rem;
    height: 5rem;
    border: none;
    outline: none;
    background: transparent;
}
.exitNote, .delete-icon {
    content:url("../../assets/icons/exit.png");
    margin: 4%;
    padding: 0%;
    padding-left: 7%;
    width: 5%;
    cursor: pointer;
}

.delete-icon {
    content:url("../../assets/icons/delete.png");
    padding-left: 65%;
}

.task-sub{
    display: flex;
    align-content: center;
}
.sidecontent a{
    text-decoration: none;
    color: #4f4e4e;
    display: block;
    font-size: 0.9rem;
}
.round {
    position: relative;
}

.round label {
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 1.5rem;
    left: 1rem;
    position: absolute;
    width: 1.5rem;
}

.round label:after {
    border: 1px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 0.2rem;
    opacity: 0;
    position: absolute;
    top: 0.3rem;
    transform: rotate(-45deg);
    width: 1rem;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    background-color: #1579ce;
    border-color: #1579ce;
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.checked {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 3px;
    position: absolute;
    top: 25px;
    width: 28px;
}
.remindMe {
    margin: 1rem 2rem 1rem 3rem;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    background: #ffffff;
    width: 70%;
    border: 1px solid #eaeaea;
}
 .task-subParent, .checkstyle{
    display: flex;
    margin-left: 2rem;
    border-bottom-color: 0px 0px 0.1rem;
    border-bottom: 2px solid #e5e5e5;
    align-content: center;
    width: 79%;
 }

.task-checkbox, .subtask-checkbox {
    background-color: #fff;
    content:url(../../assets/icons/check.svg);
    cursor: pointer;
    margin-top: 1rem;
    height: 3rem;
    width: 2rem;
}

.subtask-checkbox {
    height: 1rem;
}

.existingTask {
    width: 97%;
    padding: 1.5rem 0rem 1rem 4rem;
    background-color:#ffffff;
    text-align:left;
    color: #424141;
    border: none;
    cursor: pointer;
}
.check, .checkstyle {
    text-decoration:line-through;
}

.taskPanel, .showTaskPanel {
    font-family: segoe-regular;
    height: 44rem;
    color: #4e4f4a;
    width: 23rem;
    display: none;
    position: relative;
    background-color: #f4f4f4;
    overflow-x: auto;
}
.showTaskPanel {
    display:block;
}
.panel-head{
    background-color: #ffffff;
    margin: 1rem 1.5rem 1rem 3rem;
    padding-top: 0.2rem;
    border: 1px solid #eaeaea;
}
.modal{
    position: fixed;
    font-family:segoe-regular;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.show {
    display: block;
}
.hide{
    display: none;
}
.modal-content,.show-modal-content{
background-color: #fefefe;
text-align: center;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 37%;
}


.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.button {
    cursor: pointer
}
.button-default {
    background-color: rgb(248, 248, 248);
    border: 1px solid rgba(204, 204, 204, 0.5);
    color: #5D5D5D;
}
.button-danger {
    background-color: #f44336;
    border: 1px solid #d32f2f;
    color: #f5f5f5
}