<div class="task-content">
    <div class="task" [ngClass]="list.alignSubTask ? 'align-margin' : 'remove-margin'">
        <div id="taskHead" class="taskHead"><input type="text" [(ngModel)] = "list.name" class="taskSign" value="{{list.name}}"/><br>
            <div class="taskDiv">
                <div *ngFor="let task of list.tasks">
                    <div class="task-subParent" [ngClass]="task.isFinished? 'check':'task-subParent'" (click)="useTask(task)">
                        <input type="checkbox" class="task-checkbox" [checked]="(task.isFinished)" (change)="checkStatus(task)" id="check"/>
                        <label for="check"></label>
                        <input type="button" [ngStyle]="{'color': task === currentTask ? 'royalblue' : 'black' }" 
                        class="existingTask" value="{{task.name}}"/>
                    </div>
                </div>
                <div class="task-input ">
                    <div><button class="sidebar-Icon addtask-button" (click)="addTask($event)"><i class="icon plusIcon" aria-hidden="true"></i></button></div>
                    <div><input type="text" class="inputTask" id="inputTask" placeholder="Add Task" (keyup.enter)="addTask($event)"/></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <app-sub-task [task]="currentTask"></app-sub-task>
    </div>
</div>

