<div class="task-content">
    <div class="sideBar" id="sideBar" [ngClass] = "status ? 'closeSideBar' : 'sideBar'">  
        <a href="#" (click)="toggleSidebar()" id="menu"  class="sidebar-menuIcon"><img src="../../assets/icons/menu.svg" class="menuIconDivision"/></a>
        <div class="sideBarContent">
            <div><p><a href="#"  class="sidebar-Icon"><i class="icon sunIcon" aria-hidden="true"></i></a></p></div>
            <div class="sideBarText" [ngClass] = "status ? 'none' : 'block'" ><p> &nbsp;My Day</p></div>
        </div>
        <div class="sideBarContent">
            <div><p><a href="#" class="sidebar-Icon"><i class="icon starIcon"></i> </a></p></div>
            <div class="sideBarText" [ngClass] = "status ? 'none' : 'block'"><p> &nbsp;Important</p></div>
        </div>
        <div class="sideBarContent">
            <div><p><a href="#"  class="sidebar-Icon"><i class="icon calendarIcon"></i></a></p></div>
            <div class="sideBarText" [ngClass] = "status ? 'none' : 'block'"><p> &nbsp;Planned</p></div>
        </div>
        <div class="sideBarContent">
            <div><p><a href="#"  class="sidebar-Icon"><i class="icon customerIcon" aria-hidden="true" ></i></a></p></div>
            <div class="sideBarText" [ngClass] = "status ? 'none' : 'block'"><p> &nbsp;Assigned to Me</p></div>
        </div>
        <div class="sideBarContent">
            <div><a href="#"  class="sidebar-Icon"><i class="icon homeIcon"></i></a></div>
            <div class="sideBarText" [ngClass] = "status ? 'none' : 'block'"><p> &nbsp;Task</p></div>
        </div>
        <br>
        <div class="sideBarContent"  *ngFor="let list of lists" (click)="useList(list)">
            <div><p><i class="listIcon"></i></p></div> 
            <div class="sideBarText" [ngClass] = "status ? 'none' : 'block'">
                <input class="currentList" readonly="true" (blur)="changeRead($event)" (dblclick)="changeReadOnly($event)"
                 [ngStyle]="{'color': list === currentList ? 'blue' : 'black' }"
                 [(ngModel)] = "list.name" type="text" value="{{list.name}}"/>
            </div>
            <div><p>{{list.taskLength}}</p></div>
        </div>             
        <div class="sideBarContent">              
            <div><p><i class="icon plusIcon"></i></p></div>
            <div class="sideBarText" [ngClass] = "status ? 'none' : 'block'">
                <input class="addList"  type="text" id="listItem" (keyup)='addList($event)' placeholder= "New list"/>
            </div>
        </div>
    </div>
    <app-task [list] = "currentList"></app-task>
</div>