@font-face {
    font-family:segoe;
    src:url("../../assets/font/seguisb.ttf");
}
@font-face {
    font-family:segoe-regular;
    src:url("../../assets/font/segoe-regular.ttf");
}
@font-face {
    font-family:segoe-Bold;
    src:url("../../assets/font/segoe-ui-bold.ttf");
}
.task-content {
    display: flex;
}
.container {
    display: flex;
    flex-direction: column;
    height: 47.1rem;
}
.sideBar, .closeSideBar{
    font-family:segoe-regular;
    height: 45rem;
    width: 17rem;
    position: relative;
    background-color: #f4f4f4;
    overflow:auto;
}
.defaultTask {
    color: #3e69e4;
    font-weight: bold;
    padding: 0rem 7.7rem 0rem 0rem;
}
.inActivedefaultTask {
    color: #58544b;
    font-weight: lighter;
    padding: 0rem 7.2rem 0rem 0rem;
}
.closeSideBar {
    width: 3rem;
}
.taskPanel {
    font-family:segoe-regular;
    height: 100%;
    color: #4e4f4a;
    width: 28rem;
    display: block;
    position: relative;
    background-color: #f4f4f4;
    overflow-x: hidden;
}
.taskPanel a, .sideBar a {
    text-decoration: none;
    color: #4f4e4e;
    display: block;
    font-size: 0.9rem;
}
.sidebar-Icon {
    padding: 0rem 1.3rem 0rem 1rem;
}
.sidebar-menuIcon {
    padding: 1rem 0rem 2rem 0.4rem;
    margin: 0rem;
}
.sideBar a:hover {
    color: #f1f1f1;
}
.menuIconDivision {
    width: 2rem;
    height: 1.2rem;
    
}
.calendarIcon{
    content:url("../../assets/icons/calender.png");
    filter: invert(54%) sepia(3%) saturate(1543%) hue-rotate(245deg) brightness(80%) contrast(81%);
}
.sunIcon{
    content:url("../../assets/icons/sun.png");
    filter: invert(54%) sepia(3%) saturate(1543%) hue-rotate(245deg) brightness(80%) contrast(81%);
}
.starIcon{ 
    content:url("../../assets/icons/star.svg");
    filter: invert(54%) sepia(3%) saturate(1543%) hue-rotate(245deg) brightness(80%) contrast(81%);
}
.listIcon{
    content:url("../../assets/icons/list.png");
    filter: invert(41%) sepia(38%) saturate(6127%) hue-rotate(214deg) brightness( 93%) contrast(91%);
    display:inline;
    height: 1.5rem;
    width:1.2rem;
    padding: 0rem 0rem 0rem 1rem;

}
.sidecontent {
    height: 100%;
    overflow: auto;
}
.customerIcon{
    content:url("../../assets/icons/custom.png");
}
.homeIcon{
    content:url("../../assets/icons/home.svg");
    filter: invert(43%) sepia(63%) saturate(1761%) hue-rotate(213deg) brightness(93%) contrast(93%);
    padding: 1rem 0rem 1rem 0rem;
}
.plusIcon{
    content:url("../../assets/icons/plus.png");
    padding: 0.4rem 1.2rem 0.2rem 0.9rem;
}
.sideBarContent {
    display: flex;
    align-content:center;
    cursor: pointer;
    margin-top: 0rem;
}
.addList, .currentList {
    border: none;
    padding: 1.2rem 0.2rem 1rem 1rem;
    width: 9rem;
    background-color: #f4f4f4;
}
.currentList {
    cursor: pointer;    
}
.currentList:focus {
    background-color: #f4f4f4;
    outline: none;
}

.addList::placeholder,.inputTask::placeholder, .currentList::placeholder {
    color: #5c89f8;
}

.addList:focus, .inputTask:focus {
   outline: none;
   background-color: #ffffff;
}

.addList:focus::placeholder, .inputTask:focus::placeholder, .currentList:focus::placeholder{
    color:#4f4e4e;
}
.sideBarHeader{
    display: flex;
    align-content:center;
}
.icon{
    width: 1.1rem;
    height: 1.1rem;
}
.content {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.task {
    font-family: segoe-Bold;
    text-align: left;
    background-color: #ffffff;
    width:100%;
    font-size: 1.2rem;
}
.taskDiv {
    padding: 0.2rem 0.5rem 1rem 0.9rem;
    color:#3e69e4;
    cursor: pointer;
}
.taskSign {
    margin-top: 1rem;
    margin-left: 2rem;
    position:static;
    color:#3e69e4;
}
.taskHead {
    margin-top: 1rem;
}

.sideBarText {
    cursor:pointer;
    font-size: 0.9rem;
    margin-top: 0.1rem;
    font-weight: lighter;
    color: #484a45;
}
.taskName {
    display:inline; 
    white-space:nowrap;
    padding: 0rem 0rem 0rem 1.5rem;
    color:#3e69e4;
    cursor: pointer;
}
.inputTask,.inputSubTask {
    width: 98%;
    padding: 1.5rem 16rem 1rem 0rem;
    border:none;
    color: #424141;    
}
.inputSubTask {
    margin: 1.1rem 0rem 0rem 0rem;
    padding: 1rem 0rem 1rem 0rem;
}

.existingTask {
    width: 97%;
    padding: 1.5rem 0rem 1rem 4rem;
    background-color:#ffffff;
    text-align:left;
    color: #424141;
    border: none;
    cursor: pointer;
}

.check{
    text-decoration:line-through;
}

.existingTask:hover {
    border-style:none;
    background-color:#f4f4f4;
}

.subTask:focus {
    outline:0;
    border-style:none;
    background-color:#f4f6ff;
}

.subTask {
    width: 30%;
    padding: 0.5rem 0rem 1rem 0rem;
    background-color:#ffffff;
    text-align:left;
    color: #424141;
    border: none;
}

.subTask:hover {
    border-style:none;
    background-color:#f4f4f4;
}

.existingTask:focus {
    outline:0;
    border-style:none;
    background-color:#f4f6ff;
}

.detailHeader-checkBox {
    margin: 10px 0;
    height: 28px;
    width: 28px;
}

.addtask-button {
    background-color:#ffffff;
    border:none;
    margin-top: 1.2rem;
}

.taskContent {
    display:flex;
    align-content:center;
    border-bottom: 2px solid #e5e5e5;
}
.subtask-checkbox {
    height: 1rem;

}

.subTaskTitleSpan {
    margin-left: 2rem;
}

.addToDay {
   margin: 5%;
   padding: 3%;
   padding-left: 1%;
   background: #ffffff;
   width: 85%;
}

.remindMe {
   margin: 5%;
   padding: 3%;
   padding-left: 1%;
   background: #ffffff;
   width: 85%;

}

.addFile {
   margin: 5%;
   padding: 3%;
   padding-left: 1%;
   background: #ffffff;
   width: 85%;

}

.addNotes {
   margin: 5%;
   padding: 1%;
   padding-left: 0%;
   background: #ffffff;
   width: 88%;

}

.exitNote {
   margin: 4%;
   padding: 0%;
   padding-left: 1%;
   width: 85%;
}

.round {
    position: relative;
}

.round label {
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 1.5rem;
    left: 1rem;
    position: absolute;
    width: 1.5rem;
}

.round label:after {
    border: 1px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 0.2rem;
    opacity: 0;
    position: absolute;
    top: 0.3rem;
    transform: rotate(-45deg);
    width: 1rem;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    background-color: #1579ce;
    border-color: #1579ce;
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.checked {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 3px;
    position: absolute;
    top: 25px;
    width: 28px;
}

.addsubnotes{
   width: 100%;
   padding: 1rem 1rem 1rem 1rem;;
   font-size: 1rem;
   height: 10%;
   border: none;
   outline: none;
   background: transparent;
}

.newNotes{
   color: #1579CE;
   margin: 2% 0 0 3%;
   display: flex;
   padding-bottom: 1%;
   border-color: #50504cfa;
   border-bottom-style: solid;
   border-bottom-width: thin;

} 
.block {
    display: block;
}
.none {
    display:none;
}
